@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.cpPKL{
    background-color: #ffab00;
    background-color: #ffbc33;
    background-color: #ffdd99;
    background-color: #ffeecc;

    background-color: #506396;
    background-color: #7382ab;
    background-color: #96a1c0;
    background-color: #dce0ea;

    background-color: #4b395f;
    background-color: #6f617f;
    background-color: #93889f;
    background-color: #dbd7df;

    background-color: #b35c74;
    background-color: #c27d90;
    background-color: #d19dac;
    background-color: #f0dee3;
}


.titleRiset4Top{
    color: #6F617F;
    font-weight: bold;
}

.descRiset4{
    color: #2A3144;
    font-weight: 800;
}

.text-justify {
    text-align: justify;
}

.heatmap-figure,
.heatmap-data-table table {
  min-width: 360px;
  max-width: 800px;
  margin: 1em auto;
}

.heatmap-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.heatmap-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.heatmap-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.heatmap-data-table td,
.heatmap-data-table th,
.heatmap-data-table caption {
  padding: 0.5em;
}

.heatmap-data-table thead tr,
.heatmap-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.heatmap-data-table tr:hover {
  background: #f1f7ff;
}

#latbel-linechart-container {
  position: relative;
  width: 700px;
  height: 300px;
}

@media (max-width: 500px) {
  #latbel-linechart-container {
    height: 200px;
    width: 200px;
  }

  #latbel-linechart {
    height: 400px;
    width: 400px;
  }
}