@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Poppins', Courier, monospace;
}

html{
    scroll-behavior: smooth;
}

.forbody{
    background-image: url(../Img/back5.jpg);
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.forstick{
    position: sticky;
    float: left;
}

body{
    margin-bottom: 0px;
    padding: 0;
    /* background-color: black; */
    /* background-image: url(../public/assets/PVD/Img/back5.jpg);  */
    
}

#map { height: 500px;
width: 900px;
display: flex;
flex-direction: row; }
.cpPKL{
    background-color: #ffab00;
    background-color: #ffbc33;
    background-color: #ffdd99;
    background-color: #ffeecc;

    background-color: #506396;
    background-color: #7382ab;
    background-color: #96a1c0;
    background-color: #dce0ea;

    background-color: #4b395f;
    background-color: #6f617f;
    background-color: #93889f;
    background-color: #dbd7df;

    background-color: #b35c74;
    background-color: #c27d90;
    background-color: #d19dac;
    background-color: #f0dee3;
   
    
}

.third2{
    background-color: #4b395f;
    color: white;
    border-radius: 8.25rem;
}

.btn-co{
    background-color: #4b395f;
}

.third3{
    background-color: #dbd7df;
    border-radius: 8.25rem;
}

.third5{
    background-color: #dce0ea;
    border-radius: 25px;
}

.fourth3{
    background-color: #dbd7df;
    border-radius: 8.25rem;
}

.one_one_nav{
    top: 0;
    display: flex;
    margin: auto;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 1231;
}

section {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer{
	background-color: #7FB830;
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid whitesmoke;
    height: 200px;
    
    margin-top: 50px;
}

.btn-for {
    color: #fff;
    background-color: #7382ab;
    border-color: #7382ab;
}

.btn-for:hover {
    color: #fff;
    background-color: #506396;
    border-color: #506396;
    text-decoration: none;
}

/* .portfolio{
    margin-left: 250px;
} */

#content-wrapper::-webkit-scrollbar{
    display: none;
}

.tombol{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 2.75rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.h5judullp{
    color: #493A5A;
    font-weight: 900;
}

.pdesclp{
    color: #2A3144;    
}

.logoslogantop{
    font-weight: bolder;
    color: #706080;
}

.logosloganbot{
    font-weight: bolder;
    color: #FFAB00;
}

/* .card62 {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #DCE0EB;
    background-clip: border-box;
    border: 1px solid #DCE0EB;
    border-radius: 25px;
  } */

    /* tambahan css .card62*/
    /* max-height: 70vh; */
    /* min-width: 0; */

/* .card62 .card-body {
    height: 75vh;
    max-width: 25vw;
} */

/* .card62 .card-body .img {
    width: auto;
    height: fit-content;
} */

/* .card62 .card-body .img img{
    width: auto;
    height: 23vh;
} */

.card62 {
    position: relative;
    display: flex;
    flex-direction: column;
    /* min-width: 0; */
    word-wrap: break-word;
    background-color: #DCE0EB;
    background-clip: border-box;
    border: 1px solid #DCE0EB;
    border-radius: 25px;
    /* max-height: 70vh; */
    /* height: fit-content; */
    height: 100%;
    /* height: 75vh; */
    max-width: 25vw;
  }

/* .card62 .card-body {
    height: 75vh;
    max-width: 25vw;
} */

.card62 .card-body .img {
    width: auto;
    height: fit-content;
}

.card62 .card-body .img img{
    width: auto;
    height: 23vh;
}

.bforce{
    bottom: 0;
    right: 0;
}

.orangeline {
    max-width: 100%;
    height: 400px;
}

.foreachriset{
    font-weight: bold;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    padding: 50px 0 0;
    margin: 0 0 50px;
    width: 100%;
}
.hero h1 {
margin: 0;
font-size: 48px;
font-weight: 700;
color: #4b395f;
}
.hero h2 {
color: #4b395f;
margin: 15px 0 0 0;
font-size: 26px;
}
.hero p{
color: #4b395f;
}
.hero .btn-get-started {
margin-top: 30px;
line-height: 0;
padding: 15px 40px;
border-radius: 20px;
transition: 0.5s;
color: #fff;
background: #506396;
}
.hero .btn-get-started:hover {
box-shadow: 0px 5px 20px rgba(2, 34, 74, 0.4);
}
.hero .btn-get-started span {
font-weight: 600;
font-size: 16px;
letter-spacing: 1px;
}
.hero .btn-get-started i {
margin-left: 5px;
font-size: 18px;
transition: 0.3s;
}
.hero .btn-get-started:hover i {
transform: translateX(5px);
}
.hero .hero-img {
text-align: right;
}
@media (min-width: 1024px) {
.hero {
    background-attachment: fixed;
}
}
@media (max-width: 991px) {
.hero {
    height: auto;
    padding: 120px 0 60px 0;
}
.hero .hero-img {
    text-align: center;
    margin-top: 80px;
}
.hero .hero-img img {
    width: 80%;
}
}
@media (max-width: 768px) {
.hero {
    text-align: center;
}
.hero h1 {
    font-size: 32px;
}
.hero h2 {
    font-size: 24px;
}
.hero .hero-img img {
    width: 100%;
}
}